/*********** GLOBAL STYLES ***********/
body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 1.4;
	}
.container {width: 960px;}
.white {color: white;}
.uppercase {text-transform: uppercase;}


/*********** HEADER ***********/
header {
	height: 30rem;
	padding-top: 1rem;
	background-image: url('../images/glasses-bg.png')
}




/*********** ICONS ***********/





/*********** CONTENT ***********/





/*********** FOOTER ***********/